

  .formSelect label {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin-right: 10px;
  }

  .formSelect select {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .formSelect input[type="submit"] {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .formSelect input[type="submit"]:hover {
    background-color: #2c2c2c;
  }
