.divTitle {
    display: flex   ;
    position: fixed;
    top: 0%;
    margin-top : 120px; 
    left: 50%;
    justify-items: ;
    transform: translate(-50%, -50%);
}

.title , .title2 {
    color : gray;
    font-size: 20px;
    font-family: serif;
}
.title {
    margin-right: 30px;
}