<div class="formContainer">
    <form id="uploadForm" action="upload.php" method="post" enctype="multipart/form-data">
        <input type="file" accept=".csv" name="fichier" id="fileInput" />
        <label class="labelInput" for="fileInput">Upload</label>
    </form>
</div>